import java.io.IOException;

public class Leson4 {

	public static void main(String[] args) throws IOException {
		
			char ch, answer = '2';
			
			System.out.println("What number did I guess?");
			System.out.print("Tru to guess: ");
			
			ch = (char)System.in.read();
			
			if (ch == answer) {
				System.out.print("Correctly!");
			}
			else if  (ch > answer) { 
				System.out.print("Less");
			}
			else {
				System.out.print("More");
			}
	}

}
